body {
  margin: 0px;
  background-color: #1515ca;
}


main{
  margin-right: 10px;
  margin-left: 10px;
 
}

.banner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 99%;

}

.navbar ul{
  list-style-type: none;
  background-color: #1515ca;
  padding: 0px;
  margin-left: 700px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}

.navbar a:hover{
  background-color: rgb(60, 60, 230);
}

.navbar li{
  float: left;
  
}



footer{
    text-align: center;
    margin-top: 300px;
    color: white;
  }


  .con1{
    display: inline-flex;
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 10px;
    
    
    
  }
  
  .atb1{
    width: 100px;
    margin-left: 130px;
  }

  p{
    font-size: 20px;
    font-weight: bold;
  }

  .atb1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
